*{
	font-family: 'IBM Plex Mono', monospace;
	margin: 20px;
	background-color: #f7f7f7;
}

h1 {
	color: #0a0a0a;

}

body{
	color: #333232;
}

h2, h3{
	color: #333232;
}

a{
  	text-decoration: none;
	color: #6f00ff;
}

a:hover{
	color: #8a73ff;
  	text-decoration: none;

}

.menu{
	display: hidden;

}

.navbar{
	width: 100%;
	height: 30px;
	margin: auto;
}

ul, li{
	margin: 5px;
}

.show{
	display: block;
}

.hidden{
	display: none;
}

@media screen and (max-width: 480px) {
  .navbar a {
    width: 100%;
    background-color: white;
    font-size: 20px;
 
  }
  .navbar{
  	height: auto;
    margin-bottom: 10px;

  }
  h1{
  	font-size: 20px;
  }
.menu{
	display: block;
	font-size: 20px;
	font-style: bold;

}

body{
	font-size: 12px;
}

}